extends /layout/_default-layout

prepend config-block
    - page_id = 'notFound'

//- append stylesheet-block

//- append javascript-block

block content-block
    script.
        location.replace('/#/404');
